
* {
  background-color: #272F40;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
}
button {
  background-color: #537FA6;
  border: 2px solid #537FA6;
  border-radius: 10px;
  color: #272F40;
  padding: 2px 6px;
}
button:hover {
  background-color: #D9ACA3;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #537FA6;
}
a {
  color: #537FA6;
  text-decoration: none;
  font-weight: 300;
}
a:hover {
  color: #D9ACA3;  
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
}

p {
  font-weight: 100;
  color:#D9ACA3;
}
h3 {
  margin: 0;
}
.package h3, .package h4, .picture {
  color: #A65D56;
}
.picture h3 {
  margin: 0 10px;
}

.collection-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.input-container {
  color: #A65D56;
}
input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding: 0.5em 0.2em;
  width: auto;
  transition: all 0.2s;
  font-size: 1.3rem;
  color: #eee;
}

input:active,
input:focus {
  outline: none;

  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s;
}

input:active::placeholder,
input:focus::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

main {
  padding: 2em 0;
}

img {
  width: 80%;
  border: 1px solid black;
}

.glow-effect {
  background-color: #789EBF;
  border-radius: 100px;
  box-shadow: #537FA6 0 -15px 10px -18px inset,
  #537FA6 0 1px 2px, #537FA6 0 2px 4px,
  #537FA6 0 4px 8px, #537FA6 0 8px 16px,
  #537FA6 0 10px 20px;
  color: #A65D56;
  cursor: pointer;
  display: inline-block;
  
  font-weight: 500;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.glow-effect:hover {
  box-shadow: #789EBF 0 -25px 18px -14px inset,
  #789EBF 0 1px 2px, #789EBF 0 2px 4px,
  #789EBF 0 4px 8px, #789EBF 0 8px 16px,
  #537FA6 0 10px 20px;
  transform: scale(1.05);

}

input[type="text"],
input[type="password"] {
  color:#D9ACA3;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #537FA6;
  border: 1px solid #537FA6;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

input[type="submit"]:hover {
  background-color: #D9ACA3;
}

.profile-icon {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 40px;
  width: auto;
  padding: 0;
}
.profile-icon:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05);
}

.service-picture-container, .package-picture-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-self: center;
  text-align: center;
}
.package-options {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: o auto;
}
.package {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.picture-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
  display: block;
  margin: 0;
}
.dialog img {
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

.dialog h3, .dialog h4 {
  text-align: center;
  background-color: transparent;
  color: #A65D56;
}

.user-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.user-nav {
  display: flex;
  justify-content: space-between;
}

.user-nav h3 {
  color:#789EBF;
  font-weight: 300;
}

.review h3 {
  color: #A65D56;
  margin-left: 20px;
}
.review textarea {
  display: block;
  color: #D9ACA3;
}
.person {
  margin: 0;
  padding: 0;
  background-color: transparent;
}