
* {
  background-color: #272F40;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
}
html {
  margin-top: 10px;
}
button {
  background-color: #537FA6;
  border: 2px solid #537FA6;
  border-radius: 10px;
  color: #272F40;
  padding: 2px 6px;
}
button:hover {
  background-color: #D9ACA3;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #537FA6;
}
a {
  color: #537FA6;
  text-decoration: none;
  font-weight: 300;
}
a:hover {
  color: #D9ACA3;  
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
}

p {
  font-weight: 100;
  color:#D9ACA3;
}
h3 {
  margin: 0;
}
.package h3, .package h4, .picture {
  color: #A65D56;
}
.picture h3 {
  margin: 0 10px;
}

.collection-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.input-container {
  color: #A65D56;
}
input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding: 0.5em 0.2em;
  width: auto;
  transition: all 0.2s;
  font-size: 1.3rem;
  color: #eee;
}

input:active,
input:focus {
  outline: none;

  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s;
}

input:active::placeholder,
input:focus::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

main {
  padding: 2em 0;
}

img {
  width: 100%;
  border: 3px solid black;
}

.glow-effect {
  background-color: #789EBF;
  border-radius: 100px;
  box-shadow: #537FA6 0 -15px 10px -18px inset,
  #537FA6 0 1px 2px, #537FA6 0 2px 4px,
  #537FA6 0 4px 8px, #537FA6 0 8px 16px,
  #537FA6 0 10px 20px;
  color: #A65D56;
  cursor: pointer;
  display: inline-block;
  
  font-weight: 500;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.glow-effect:hover {
  box-shadow: #789EBF 0 -25px 18px -14px inset,
  #789EBF 0 1px 2px, #789EBF 0 2px 4px,
  #789EBF 0 4px 8px, #789EBF 0 8px 16px,
  #537FA6 0 10px 20px;
  transform: scale(1.05);

}

input[type="text"],
input[type="password"] {
  color:#D9ACA3;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #537FA6;
  border: 1px solid #537FA6;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

input[type="submit"]:hover {
  background-color: #D9ACA3;
}

.profile-icon {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 40px;
  width: auto;
  padding: 0;
}
.profile-icon:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05);
}

.service {
  text-align: center;
}

.service-picture-container, .package-picture-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-self: center;
  text-align: center;
}
.package-options {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: o auto;
}
.package {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.picture-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog, .collection-dialog {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
  display: block;
  margin: 0;
}
.collection-dialog img {
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  max-width: 80%;
  max-height: 80%;
  object-fit:cover;
}

.dialog img {
  object-fit:contain;
  margin: 0 auto;
  max-width: 100%;
  max-height: 95%;
}

.collection-dialog h3, .collection-dialog h4 {
  text-align: center;
  background-color: transparent;
  color: #A65D56;
}

.user-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.user-nav {
  display: flex;
  justify-content: space-between;
}

.user-nav h3 {
  color:#789EBF;
  font-weight: 300;
}

.review h3 {
  color: #A65D56;
  margin-left: 10px;
}
.review textarea {
  display: block;
  color: #D9ACA3;
}
.person {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.review-container {
  position: fixed; 
  z-index: 1; 
  top: 0%;
  left: 0%;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
  display: block;
  margin: auto;
  
}
.review {
  padding: 20px;
  border: 2px solid #A65D56;
  border-radius: 15px;
  margin: auto;
  margin-top: 200px;
  display: block;
  max-width: 30%;
  max-height: 100%;
  padding: 20px;
}

.fix-cart {
  width: 85px;
}
.small {
  top: 0;
}
.small:hover {
  opacity: 0.8;
  top: -10px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  color: #D9ACA3;
  text-align: center;
  padding: 0;
  margin: 0;
}
footer h5 {
  font-weight: 300;
}

.contact h3, .contact h4 {
  color:  #D9ACA3 ;
  margin: 10px;
}
.contact h4 {
  font-weight: 500;
}
.contact a {
  margin: 0;
  color:  #D9ACA3 ;
}

.contact a:hover {
  color: #A65D56;
}

.receipt h1 {
  color: #A65D56;
}
.receipt h4, .receipt h5 {
  color: #D9ACA3;
  font-weight: 300;
}
.receipt h3 {
  color: #D9ACA3;
  font-weight: 500;
} 
.receipt button {
  padding: 10px;
  width: 100px;
  border-radius: 15px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #D9ACA3;
}
.about img {
  width: 400px;
  border: 2px solid black;
  border-radius: 20px;
}
.about h3, .about p {
  margin: 20px 0;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.items h3 {
  margin: 10px;
}

.login-button {
  margin-left: 30px;
  padding: 10px 10px;
  border-radius: 12px;
  color: white;
}
.search h2 {
  color: #789EBF;
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 10px;
    width: 100%;
    margin: 0 auto;
  }
  #root, .App, header {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  header {
    display: flex;
    flex-direction:column;    
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    height: 10%;
  }
  header nav {
    margin: 0;
    padding: 0;
  }
  .nav h2 {
    flex: 0;
    font-size: 20px;
    color: #789EBF;
  }
  .glow-effect {
    font-size: 8px;
  }
  .nav nav {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  main {
    height: 80%;
    margin: 0;
    margin-top: 10px;
    padding: 0;
  }
  
  .service , .service-container {
    margin: 0;
  }
  .service a, .service div , .service p{
    margin: 0;
    padding: 0;
  }
  .service-picture-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
    justify-content: center;
    margin: 10px 0;
    gap: 2px
  }

  .picture, .small {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .small {    
    border: 1px solid black;
  }
  footer {
    height: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dialog {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dialog img {
    max-width: 95%;
    border: 0;
  }
  .package-options {
    font-size: 10px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .package-container {
    margin: 0;
  }
  .package {
    text-align: center;
  }
  .package h3 {
    margin: 10px;
  }
  .package-picture-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin: 0;
  }
  .picture-card {
    margin: 0;
  }
  .small {
    max-width: 95%;
  }
  input[name=search] {
    font-size: 10px;
    width: 60%;
  }
  .colection-picture {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
  }
  .about {
    display: flex;
    flex-direction: column;
  }
  .about-img {
    margin-top: 50px;
    max-width: 60%;
  }
  .about p {
    margin: 0;
  }
  .contact {
    margin-top: 50px;
  }
  .receipt {
    margin-top: 30px;;
  }
  form {
    margin: 30px 0;
  }
  form input {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .login-button {
    margin: 10px;
  }
  .person {
    height: 100%;
  }
  .user-nav {
    margin: 30px 0 0 0;
  }
  .user-nav h3 {  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-buttons button {
    font-size: 8px;
  }
  .user-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
  .collection-dialog {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .collection-dialog img {
    max-width: 95%;
    border: 0;
  }
  .review-container {
    max-width: 100%;
  }
  .review {
    max-width: 80%;
  }
  .review textarea {
    max-width: 90%;
  }
  .signup-container {
    padding: 10px;
  }
  
  .signup-container input {
    max-width: 95%;
  }
  .signup-container input[type=submit] {
    padding: 10px;
  }
  .button-container {
    margin: 10px 0 10px 10px;
  }
  

}